.DS_Store
.idea/

open-api-repository-integration/generated-sources
documentation/source/swagger/swagger_open_banking_fase2_apis.yml
documentation/source/swagger/swagger_open_banking_fase3_apis.yml
documentation/source/swagger/swagger_open_banking_fase4_apis.yml
